project:
  type: website
  render:
    - "*.qmd"
    - "!project/template.qmd"

execute:
  freeze: true

website:
  title: "stat4arch"
  repo-url: "https://github.com/petrpajdla/stat4arch/"
  repo-actions: [source, edit, issue]

  navbar:
    left:
      - file: index.qmd
        text: "Course overview"
        icon: book
      - file: schedule.qmd
        text: "Schedule"
        icon: calendar4
      - sidebar:topics
      - file: project.qmd
        text: "Project"
        icon: file-earmark-code
      - file: resources.qmd
        text: "Resources"
        icon: gear
      - file: kit.qmd
        text: "Survival kit"
        icon: patch-question

  sidebar:
    - title: "Home"
      style: "docked"
    - id: topics
      title: "Topics"
      collapse-level: 1
      style: "docked"
      contents:
        - section: Week 1
          contents:
            - lect/w01/intro.qmd
            - lect/w01/tidy.qmd
            - lect/w01/intro2coding.qmd
        - section: Week 2
          contents:
            - lect/w02/basics.qmd
            - lect/w02/ggplot.qmd
            - lect/w02/describing.qmd
            - lect/w02/visualizing.qmd
            - lect/w02/relations.qmd
        - section: Week 3
          contents:
            - lect/w03/intro.qmd
            - lect/w03/tidy_data.qmd
            - lect/w03/transformation.qmd
            - lect/w03/exc.qmd
        - text: ---
        - section: Archive
          contents:
            - lect/w02/intro2r.qmd
            - lect/w03/distribs.qmd
            - lect/w04/rels.qmd
            - lect/w05/norm.qmd
            - lect/w05/dplyr.qmd
            - lect/w07/space.qmd
            - lect/w08/time.qmd
            - lect/w09/dist.qmd
            - lect/w09/clust.qmd
            - lect/w10/ca.qmd
            - lect/w11/repro.qmd
            - lect/w11/pivoting.qmd

  page-footer:
    left:
       - href: https://quarto.org/
         text: "Build with quarto."
    center: |
      Licenses: MIT (code) & CC BY-SA 4.0 Int. (other content).
    right:
       - icon: github
         href: https://github.com/petrpajdla/stat4arch/

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    highlight-style: arrow
    toc-location: left
